{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    {% if programs is empty %}
        <h1>Aucun programme ne correspond à la catégorie {{ category.name }}</h1>
    {% else %}
        <h1>Voici les dernières nouveautés correspondants à la catégorie {{ category.name }} : </h1>
        <ul>
            {% for program in programs %}
                <li>{{ program.id }} / {{ program.title }} --- Résumé : {{ program.summary }} --- <a href="{{ path('program_show', {slug : program.slug}) }}">Voir sa fiche</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}