{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align items center flex-column my-2">
    <h2 class="text-center">{{ program.title }}</h2>
    <a class="text-center panel-button p-2 mx-auto" href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
</div>
<div class="d-flex justify-content-center mb-5">
    <div class="card mx-2">
        <img class="card-img-top" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="card-body">
            <p class="card-text">{{ program.summary }}</p>
            <p class="card-text">Catégorie : {{ program.category.name }}</p>
        </div>
    </div>
    <div class="card mx-2 p-5 d-flex justify-content-center align-items-center">
        <h4 class="card-title">Liste des saisons : </h4>
        <ul class="card-body">
            {% for season in seasons %}
                <li class="my-5">
                    <a class="panel-button p-3" href="{{ path('program_season_show', {'program': program.id, 'season': season.id}) }}">
                        Saison n°{{ season.number }}  ({{ season.year }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}